@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.font-2 {
  font-family: "Dancing Script", cursive;
}

.menu-normal li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.first-container {
  width: auto;
  padding: 6% 10% 2% 10%;
  background: #002850;
  color: #cdbebe;
}
.first-container h2 {
  font-family: "Lobster", sans-serif;
  font-size: 60px;
}
.first-container h3 {
  display: flex;
  font-family: "Caveat", cursive;
  clip-path: polygon(49% 10%, 99% 6%, 77% 37%, 100% 66%, 6% 91%, 0 14%);
  background: #c81e46;
  height: 75px;
  align-items: center;
  font-size: 25px;
  padding: 0 0 0 10px;
}
.first-container__menu {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  .first-container__menu {
    flex-direction: column;
  }
}
.first-container__menu .menu-normal {
  width: 60%;
  font-family: "Calistoga", serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 22px;
}
@media screen and (max-width: 700px) {
  .first-container__menu .menu-normal {
    width: auto;
  }
}
.first-container__menu .menu-special div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  margin: 10px 0;
  font-family: "Calistoga", serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.first-container__menu .menu-special__name {
  grid-area: 1/1/2/3;
}
.first-container__menu .menu-special__description {
  color: #c81e46;
  grid-area: 2/1/3/2;
}
.first-container__menu .menu-special__price {
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 700px) {
  .first-container__menu .menu-special__price {
    text-align: right;
  }
}

.second-container {
  background: #c81e46;
  padding: 2% 10%;
  color: #cdbebe;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .second-container {
    flex-direction: column;
  }
}
.second-container__menu__presentation {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .second-container__menu__presentation {
    text-align: center;
  }
}
.second-container__menu__presentation p {
  text-transform: uppercase;
}
.second-container__menu__presentation p span {
  text-transform: none;
}
.second-container__menu__price {
  width: auto;
  font-family: "Calistoga", serif;
  font-size: 20px;
  display: flex;
  min-width: 300px;
}
@media screen and (max-width: 700px) {
  .second-container__menu__price {
    font-size: 16px;
    width: 100%;
    justify-content: space-around;
  }
}
.second-container__menu__price p:nth-child(1) {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.second-container__menu__price div {
  margin: 7%;
}
@media screen and (max-width: 700px) {
  .second-container__menu__price div {
    margin: 4%;
  }
}

/*# sourceMappingURL=style.css.map */
